*,
::after,
::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #48D0B0;
}
.search{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  top: -10vw;
}
.input-search{
  width: 50vw;
  font-size: 2rem;
}
.result-search{
  position: absolute;
  color: white;
  width: 50vw;
  top:40px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100px;
  height: auto;
  text-align: start;
  font-size: 2rem;
}

.result-search > p {
  border: solid 1px rgb(151, 143, 143);
  background-color: rgb(21, 22, 22);
  cursor: pointer;
}

.all-pokemons{
  width: 100%;
  padding: 25px;
  background-color:white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap:20px;
}

.pokemon-info{
  width: 300px;
  height: 400px;
  padding: 25px;
  background-color:#3a7567;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 1px #000;
  box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.84);
  -webkit-box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.84);
  -moz-box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.84);
  color: white;
}
.pokemon-info p{
  margin: 5px;
}
.pokebola-container {
  position: relative;
  width: 180px;
  height: 170px;
}
.pokebola {
  position: absolute;
  background-image: url('./assets/img/pokebola.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  width: 220px;
  height: 220px;
  opacity: .2;
  right: 1px;
}
.img-pokemon{
  position: absolute;
  z-index: 100;
  width: 150px;
  height: 170px;
  right: 10px;
  top: -15px;
}

.pokemon-info:hover{
  width: 300px;
  height: 400px;
  padding: 25px;
  background-color:#114047;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px rgb(78, 76, 76);
  box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.84);
  -webkit-box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.84);
  -moz-box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.84);
  color: white;
  cursor: pointer;
}



.pagination {
  background-color:white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
}
.btn-pagination{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color:#062226;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-left: 2px;
}
.btn-pagination-active{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color:#757a7a;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  margin-left: 2px;
}
.btn-pagination:hover{
  background-color:#757a7a;
}
/*********************POKEMON ID*****************************************************/

.info-poke{
  background: white;
}

.logopoke{
  max-width: 400px;
}
.back-pokeid{
  font-size: 40px;
}
.header-pokeid{
  margin-bottom: 50px;
}
.img-pokemonid{
  width: 250px;
  margin-top: -50px;
}
.info-poke{
  height: 250px;
}
.otra-info{
  display: flex;
  justify-content: space-between;
  gap:10px;
  padding: 0;
}
.welcome{
  font-size: 30px;
}
/*********************POKEMON ID*****************************************************/
@media  (max-width: 992px){
  .info-poke{
    height: 180px;
  }
}

@media  (max-width: 766px){
  .info-poke{
    height: auto;
    align-content: center;
  }
  .img-pokemonid{
    width: 180px;
    }
}
@media  (max-width: 577px){
  .info-poke{
    justify-content: flex-start;
  }
  .content-img-pokeid{
    order: -1;
  }
}
@media  (max-width: 500px){
  h1 {
    font-size: 18px;
  }
  .btn{
    font-size: 10px;
  }
  .welcome{
    font-size: 15px;
  }
  .form-control{
    font-size: 10px;
  }
  .form-select{
    font-size: 10px;
  }
  .pokemon-info{
    width: 200px;
    height: 300px;
    font-size: .9rem;
    padding: 5px;
  }
  .img-pokemon{
    width: 80px;
    height: 100px;
    right: 45px;
    top: -10px;
  }
  .pokemon-info:hover{
    width: 205px;
    height: 305px;
    padding: 25px;
  }

  .pokebola {    
    width: 150px;
    height: 150px;
    opacity: .2;
    right: 1px;
  }
  .logopoke{
    min-width: 100px;
  }
  .back-pokeid{
    font-size: 25px;
  }
  .info-poke{
    justify-content: flex-start;
    align-content: flex-start;
  }
  .content-img-pokeid{
    order: -1;
  }
}

@media  (max-width: 250px){
  .back-pokeid{
    font-size: 10px;
  }
  .logopoke{
    min-width: 50px;
  }
  .info-poke{
    height: 180px;
  }
  .img-pokemonid{
    width: 100px;
    }

    .pokemon-info{
      width: 150px;
      height: 300px;
      padding: 5px;
    }
    .pokemon-info:hover{
      width: 155px;
      height: 305px;
      padding: 5px;
    }
  
    .pokebola {    
      width: 100px;
      height: 100px;
      left: 15px;
    }
}